* {
  font-family: Helvetica, serif;
}

body{
  padding:60px;
}

input{
  font-size: 1.3em;
  width: 100%;
  color:gray;
}

.card{
  align-content: center;
  border:1px solid gray;
  border-radius:  6px;
  margin-bottom:10px;
  margin-right:10px;
  overflow: hidden;
}

.card p{
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}

.card-grid{
  display: grid;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}